* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 65px 0px 0px 0px;
  padding: 0;
  background-color: #F1EDEC;
  font-family: 'Dosis', sans-serif;
  color: #555555;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  height: 65px;
  width: 100%;
  padding: 0px 30px;
  background-color: white;
  z-index: 1000;
  font-weight: bold;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title{
  font-family: 'Sacramento', cursive;
  font-size: 40px;
}

.header-links{
  color: #555555;
  text-decoration: none;
}

.cart-button{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-button:hover{
  background-color: #E1DFDE;
  border-radius: 4px;
}

.material-icons.cart-icon{
  font-size: 28px;
}

#cart-items-count{
  color: white;
  background-color: black;
  border-radius: 4px;
  font-size: 13px;
  padding: 0px 5px;
  margin-top: 5px;
}

/* To remove blue border from css custom-styled button */
button:focus {
  outline: 0;
}
