#menu-title{
  border-top: 1.5px solid #443935;
  border-bottom: 1.5px solid #443935;
  margin-bottom: 27px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

#item-list{
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  background-color: white;
  border: 1.5px solid white;
  padding: 10px;
  margin: 1%;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  min-width: 210px;
  position: relative;
  text-align: center;
}

.item:hover{
  cursor: pointer;
  border: 1.5px solid #E1DFDE;
}

.item-image{
  width: 90%;
  height: 185px;
  border-radius: 4px;
}

.item-div{
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
}

.item-details{
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 66%;
}

.material-icons.quick-add{
  align-self: center;
  font-size: 25px;
  padding: 6px;
  margin-top: 8px;
  background-color: #F1EDEC;
  border-radius: 4px;
  border: 1.5px solid #E1DFDE;
}

.material-icons.quick-add:hover{
  border: 1.5px solid #443935;
}

.item-name{
  font-size: 18px;
  font-weight: bold;
}

.item-seller{
  font-size: 14px;
}

.item-price{
  font-size: 17px;
  font-weight: bold;
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.layer:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 110px auto;
  padding: 15px;
  background: white;
  border-radius: 5px;
  width: 50%;
  max-height: 600px;
  max-width: 600px;
  min-width: 500px;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  position: relative;
}

#popup-item-details{
  display: -webkit-flex;
  display:flex;
  padding-top: 17px;
}

.popup-item-text{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
}

.popup-item-image{
  width: 32%;
  margin: 0px 27px 0px 20px;
  height: 182px;
  align-self: center;
}

.popup-item-name{
  font-size: 27px;
  font-weight: bold;
}

.popup-item-seller{
  font-size: 18px;
  margin-top: 5px;
}

.popup-item-description{
  font-size: 17px;
  padding-left: 20px;
}

.popup-item-price{
  font-size: 20px;
  font-weight: bold;
}

.close{
  align-self: flex-end;
  color: #443935;
  font-size: 35px;
  text-decoration: none;
  position: absolute;
  top: 0px;
}

.add-to-cart-button{
  background-color: #D9624C;
  color: white;
  border: 3px solid ;
  padding: 5px 45px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 7px;
  cursor: pointer;
  width: 45%;
  margin-top: 30px;
  text-transform: uppercase;
}

.add-to-cart-button:hover {
   background-color: white;
   color: #D9624C;
}
