* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1EDEC;
  font-family: 'Dosis', sans-serif;
  color: #555555;
}

header{
  background-color: white;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

header > *{
  margin: 5px 20px;
  font-size: 1.5em;
}

#title{
  font-family: 'Sacramento', cursive;
  font-size: 3em;
  cursor: default;
}

a:link, a:visited{
  padding: 5px 8px;
  color: #555555;
  text-decoration: none;
}

div > a:hover{
  background-color: #E1DFDE;
}

.category-list{
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.category{
  margin: 20px;
  position: relative;
  width: 45%;
}

.category-image{
  width: 100%;
  height: 360px;
}

.category-name{
  color: white;
  background-color: #555555;
  padding: 0px 10px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.shop-button{
  background-color: #F1EDEC;
  color: #555555;
  border: 3px solid ;
  padding: 5px 30px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  border-radius: 7px;
  transition-duration: 0.2s;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.shop-button:hover {
  background-color: #555555;
  color: white;
}

.shop-button:hover a{
  color: white;
}

.cart-container{
  display: -webkit-flex;
  display:flex;
  justify-content: center;
}

.cart{
  background-color: white;
  margin: 20px;
  padding: 40px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
}

#my-cart{
  font-size: 2em;
  text-decoration: underline;
  margin-bottom: 40px;
}

#cart-table{
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  font-size: 1em;
}

td {
  border-bottom: 1px solid;
  border-top: 1px solid;
}

th {
  background-color: #F1EDEC;
  font-size: 1em;
  padding: 10px;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

tbody>tr:last-child>td {
  background-color: #E0D9D8;
  font-size: 1.5em;
  padding: 8px;
}

.cart-item-details{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item-image{
  width: 20%;
  margin: 10px;
}

.cart-item-description{
  align-items: flex-start;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

.cart-item-name{
  font-size: 1.5em;
}

.cart-item-detail{
  margin-top: 5px;
  font-size: 1em;
}

.cart-item-price{
  font-size: 1.5em;
}

.cart-item-qty{
  font-size: 1.5em;
  font-family: inherit;
  text-align: center;
  color: inherit;
}

.order-button{
  background-color: #555555;
  color: white;
  border: 3px solid ;
  padding: 5px 45px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 70px;
}

.order-button:hover {
   background-color: white;
   color: #555555;
}

#menu-title{
  border-top: 2px solid #555555;
  border-bottom: 2px solid #555555;
  margin: 30px 0px;
  font-size: 1.75em;
  font-weight: bold;
  text-align: center;
}

.item-list{
  display: -webkit-flex;
  display: flex;
  margin: 0;
  flex-flow: row wrap;
  justify-content: center;
}

.item{
  background-color: white;
  border: 1.25px solid #555555;
  padding: 20px;
  margin: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  position: relative;
}

.item-image{
  width: 60%;
}

.item-name{
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 12px;
}

.item-price{
  font-size: 1.5em;
  margin-top: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.item:hover .overlay {
  background: rgba(0, 0, 0, .6);
}

.view-details{
  position: absolute;
  left: 25%;
  top: 45%;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.view-details a {
  padding: 5px 15px;
  text-align: center;
  color: white;
  border: 3px solid white;
  font-size: 1.5em;
  font-weight: bolder;
}

.item:hover .view-details {
  opacity: 1;
}

.layer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.layer:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 0px 20px 20px 15px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup > a{
  font-size: 2em;
  margin-top: 5px;
}

.popup-item-details{
  display: -webkit-flex;
  display:flex;
}

.popup-item-text{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.popup-item-image{
  height: 350px;
  margin:0px 10px
}

.popup-item-name{
  font-size: 2em;
  margin-bottom: 10px;
}

.popup-item-description, .popup-item-price, .popup-item-quantity{
  font-size: 1.25em;
  margin: 5px 0px;
}

select{
  font-size: 1em;
  margin: 0px 10px;
  outline: 0;
}

.close{
  align-self: flex-end;
}

.add-to-cart-button{
  background-color: #555555;
  color: white;
  border: 3px solid ;
  padding: 5px 45px;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 7px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 25px;
  width: 45%
}

.add-to-cart-button:hover {
   background-color: white;
   color: #555555;
}

/* To remove blue border from css custom-styled button */
button:focus {
  outline: 0;
}
